/* Hide mobile-only elements */
#mobile {
	display:none;
}
body {
	margin: 0 auto;
	background: #f2f2f2;
	font-family: sans-serif;
	text-align:left;
	color: darkgray;
}
#web_header {
	width: 100%;
	background: white;
}
#web_header_logo {
	max-width: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left: 20%;
}
#web_subheader {
	margin-top: 0;
	background: #77c2e6;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 20%;
	font-size: 20pt;
	color: white;
}
#web_body {
	margin-left:20%;
	margin-right:20%;
	padding-top: 2%;
	width: 60%;
}
#web_body p {
	font-size: 11pt;
	font-weight: bold;
	color: #5a5c63;
	line-height: 0.2;
}
#web_body_txtSearch {
	border-radius: 4px;
	border: 1px solid lightgray;
	width: 100%;
	font-weight: lighter;
	padding:2% 4% 2% 4%;
	font-family: 'Lato', sans-serif;
	font-size: 1.6em;
	float: left;
	outline: none;
	color: silver;
	background: white;
	display: inline-block;
	margin-bottom: 1.5%;
}

#web_body_attributes {
	display: inline-block;
	background: #3672b3;
	float: left;
	width: 19%;
	margin-right: 1%;
}

#web_body_results {
	display: inline-block;
	float: left;
	width: 64%;
	background: white;
	margin-right: 1.5%;
	padding-bottom: 2%;
}

#web_body_recommendations {
	display: inline-block;
	float: left;
	background: white;
	width: 34.5%;
}

#where_to_start {
	width: 100%;
	text-align: center;
}

#where_to_start img {
	max-width: 40%;
	height: auto;
	width: auto;
	margin-top: 15%;
}

#where_to_start h2 {
	font-weight: normal;
	color: darkgray;
	margin-left: 2%;
	margin-right: 2%;
	color: black;
}

#where_to_start p {
	font-weight: normal;
	line-height: 1.5;
	margin-left: 8%;
	margin-right: 8%;
	color: black;
}

#where_to_start input {
	margin-top: 2%;
	padding: 5% 8% 5% 8%;
	width: 60%;
	font-size: 12pt;
	font-family: 'Lato', sans-serif;
	background: white;
	border: solid 1px gray;
	border-radius: 5px;
	color: darkslategray;
	margin-bottom: 25%;
}

#where_to_start input:hover {
	background: #e6edf5 ;
}

#wts-button {
	padding: 3% 2% 3% 2%;
	font-size: 1.3em;
}

#usedCarsTable {
	width:100%;

}

#btnSignIn, #btnRegister {
	font-size: 12pt;
	padding: 2% 5% 2% 5%;
}

.imgCell {
	width: 35%;
}
.carImg {
	max-width: 95%;
	height: auto;
	width: auto;
	margin-left: 8%;
	margin-top: 8%;
	cursor: pointer;
}
.infoCell {
	padding-left: 8%;
}
.bigText {
	font-size: 20pt;
	color: black;
}
.smallText {
	font-size: 14pt;
	color: black;
}
.recc-smallText {
	font-size: 11pt;
	color: black;
}
.smallrText {
	font-size: 12pt;
	color: darkgray;
}
#btnViewVehicle {
	margin-top: 2%;
	height: 15%;
	width: 35%;
    padding: 8px;
	background: #ffd520;
	border: solid 1px #ffd520;
	border-radius: 5px;
	color: black;
	font-family: 'Lato', sans-serif;
	cursor: pointer;
}
#btnViewVehicle:hover {
	background: #ffe36d;
}
/* Style the buttons that are used to open and close the accordion panel */
button.accord {
    background-color: #054fa0;
    color: #ffd520;
    cursor: pointer;
    padding: 18px;
	font-family: 'Lato', sans-serif;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 12pt;
    font-weight: bold;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
	background: #3672b3;
    padding: 0 18px;
    display: none;
}

#auth {
	text-align: center;
	font-weight: normal;
}
#auth h2 {
	margin-top: 8%;
	text-align: center;
}


#auth input:hover {
	background: #e6edf5 ;
}

#auth p {
	line-height: 1.5;
	margin-left: 5%;
	margin-right: 5%;
}

#btnBack {
	background: #ffd520;
	width: 100%;
	padding-top: 3px;
	padding-bottom: 3px;
	cursor: pointer;
}

#txtMyCM_description {
	font-weight: normal;
}

.authInput {
	padding:10px 20px 10px 20px;
	border-radius: 3px;
	border: 1px solid #c5c5c5;
	width: 75%;
	font-family: 'Lato', sans-serif;
	font-size: 12pt;
	color: #333333;
	background: white;
	margin-top: 1%;
	margin-bottom: 2%;

}
#btnGo {
	padding:10px 20px 10px 20px;
}

#user_banner {
	background: #ffd520;
	text-align: right;
	padding-left: 3%;
	padding-right: 0.25%;
	padding-top: 0.25%;
	padding-bottom: 0.25%;
}

#recommendations {
	background: #ffd520;
	width: 95%;
	color: black;
	font-weight: bold;
	font-size: 12pt;
	padding-top: 3%;
	padding-bottom: 3%;
    padding-left: 5%;
    font-size: 12pt;
}

#rec_tools {
	background: #fff3c4;
    padding-left: 5%;
	padding-top: 3%;
	padding-bottom: 3%;
}

#rec_content {
	background: white;
}

#cmbFilter {
	border: none;
	outline: none;
	border-radius: 1px;
	background: white;
	font-size: 12pt;
	margin-top:4%;
	padding: 3%;
	width: 90%;
}

#rec_usedCarsTable {
	width:100%;

}

.rec_imgCell {
	width: 35%;
}
.rec_carImg {
	max-width: 95%;
	height: auto;
	width: auto;
	margin-left: 8%;
	margin-top: 8%;
	cursor: pointer;
}
.rec_infoCell {
	padding-left: 8%;
}
.rec_bigText {
	font-size: 11pt;
}
.rec_smallText {
	font-size: 10pt;
}
#rec_mileage {
	display:none;
}
#rec_btnViewVehicle {
	margin-top: 2%;
	height: 4%;
	width: 50%;
    padding: 3px;
	background: #ffd520;
	border: solid 1px #ffd520;
	border-radius: 5px;
	color: navy;
	font-family: 'Lato', sans-serif;
	cursor: pointer;
}
#rec_btnViewVehicle:hover {
	background: #ffe36d;
}
#admin_web_subheader {
	margin-top: 0;
	background: #e6778b;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 20%;
	font-size: 20pt;
	color: white;
}
/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
	font-size: 14pt;
	font-family: 'Lato', sans-serif;
    cursor: pointer;
    padding: 14px 20px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
